<form method="post" asp-controller="Admin" asp-action="AddScraping">
    <label>start</label>
    <input name="start" />
    <label>end</label>
    <input name="end" />
    <button type="submit">Click Me!</button>
</form>