<div  id="navbarResponsive">
    <ul class="navbar-nav text-uppercase ml-auto">
        <li class="nav-item"><a class="nav-link js-scroll-trigger" asp-controller="Admin" asp-action="AddScraping">Add smarphone with Scraping </a></li>
        <li class="nav-item"><a class="nav-link js-scroll-trigger" asp-controller="Admin" asp-action="AddSmartphone">Add smarphone </a></li>
        <li class="nav-item"><a class="nav-link js-scroll-trigger" asp-controller="RankingSmartphone" asp-action="Index">Ranking</a></li>

        <li class="nav-item"><a class="nav-link js-scroll-trigger" asp-controller="Contact" asp-action="Messages">Messages</a></li>



    </ul>
</div>