@model FirstWebApp.ViewModels.SmartphoneViewModel

    <h1>@Model.Name</h1>
    <form method="post">
        <label>ID</label>
        <input type="text" name="Id" value="@Model.Id" />
        <label>position</label>
        <input type="text" name="position" />
        <input type="submit" class="btn btn-primary" />sumbit
    </form>